/* ---------------------------- */
/* Sass modules */

@use './home';
@use './falling.scss';
@use './floppy';
@use './header';
@use './editor';
@use './colors' as *;
@use './utils' as *;
@use './fonts.scss'; /* ---------------------------- */ /* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'GeologicaThin';
  margin: 0;
}

html,
body {
  touch-action: manipulation;
  font-family: 'Iosevka Charon', monospace;
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: $grey;
}

.container {
  @include vw-convert-desktop(width, 1600px);
  // max-width: 1200px;
  margin: auto;

  @include mobile {
    max-width: 90%;
  }
}
